
.App{
  background-image:url("background.jfif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  color: antiquewhite;
}


.App-header {
  background-color: #b30b0b00;
  color: aliceblue;
  height: 3.7rem;
}

.logo {
  height: 4.5rem;
  width: 9rem;
  margin-bottom: 0px;
  
}

h1 {
  margin-top: 0px;
  position: fixed;
  background-color: #01041f00;
  padding: auto;
  width: 100%;
  text-align: center;
}

h2 {
  display: flex;
  padding: auto;
  width: auto;
  margin-left: 12.2rem;
  font-size: large;
  margin-top: 2rem;
}

label {
  margin: 2rem;
  margin-left: 0.4rem;
  padding-top: -1rem;
}

input {
  margin: 0.8rem;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10rem;
  padding: auto;
}

input.name{
  text-align: center;
  border-color: #b30b0b;
  border-radius: 0.25rem;
  display: inline-flex;
  margin-bottom: 6rem;
  margin-left: 37rem;
  padding: auto;
  background-color: rgb(255, 255, 255);
}

input.enviar{
  margin:2rem ;
  margin-left: -8.4rem;
  border-radius: 0.25;
}


.react-overlay{
  background: rgba(255, 253, 253, 0.842);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}




.modal-content{
  width: 100%;
  max-width: 846px;

  justify-content: center;
  display: flex;
}

.modal-img{
  width: 100%;
}