
body{ 
  background: url("background.jfif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App{

  color: antiquewhite;
}


.App-header {
  background-color: #b30b0b00;
  color: aliceblue;
  height: 3.7rem;
}

.logo {
  height: 4.5rem;
  width: 9rem;
  margin-bottom: 0px;
  
}

h1 {
  margin-top: 0px;
  position: relative;
  background-color: #01041f00;
  padding: auto;
  width: 100%;
  text-align: center;
}

h2 {
  display: flex;
  padding: auto;
  width: auto;
  margin-left: 2.8rem;
  font-size: large;
  margin-top: 2rem;
}

label {
  margin: 2rem;
  margin-left: 0.4rem;
  padding-top: -1rem;
  
}

input {
  width: auto;
  margin: 0.8rem;
  display: inline-block;
  padding: auto;
}

.button-div{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
  
}

input.name{
  width: auto;
  text-align: center;
  border-color: #b30b0b;
  border-radius: 0.25rem;
  padding: auto;
  background-color: rgb(255, 255, 255);
}

input.enviar{
  border-radius: 0.25rem;
  padding: 0.25rem;
}


.react-overlay{
  background: rgba(7, 5, 5, 0.582);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-edit{
  margin-left: 8rem;
  position: relative;
  width: auto;
  white-space: nowrap;
  
}


.modal-content{
  width: 95%;
  max-width: 846px;

  justify-content: center;
  display: flex;
}

.modal-img{
  width: 100%;
}

  